@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

body{
  display: contents;
}
.skip_to_content{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
  transform: translateY(-100%);
  transition: transform .3s;
}
.skip_to_content:focus{
  transform : none
}
/*----- popup ----*/
.popup{
  position: fixed;
  top: 75px;
  left: 80px;
  z-index: 10;
  margin: 0;
  padding: 25px;
  border: 3px solid #84A27C;
  border-radius: 10px;
  background: rgba(255, 255, 255, .9);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}
.popup h3{
  font-size: 27px;
  font-weight: 600;
}
.popup h4{
  padding: 22px 0 3px;
  font-size: 17px;
  font-weight: 500;
}
.popup p{
  font-weight: 500;
  line-height: 27px;
}
.popup label{
  margin-right: 5px;
}
.popup button{
  float: right;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 13%;
}
.popup hr{
  height: 2px;
  margin: 18px 0;
  border: 0;
  background: #6F8459;
}
.popup hr:last-child{
  margin: 17px 0 21px 0;
}

/*----- navbar ----*/
header{
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 5;
  background: #fff;
}
h1{
  padding: 17px 0 17px 34px;
  text-indent: -99999em;
}
h1 a{
  display: block;
  width: 134px;
  height: 46px;
  background: url(https://answergarden.kr/web/upload/m113_unfold/main-logo.svg) no-repeat;
}
.nav-item{
  position: relative;
  width: 125px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 80px;  
  color: #4e4e4e;
}
.nav-item>a{
  text-decoration: none;
  display: block;
}
.nav-item a:hover{
  color: #84A27C;
}
.nav-item ul{
  position: absolute;
  top: 0;
  z-index: -1;  
  width: 121px;
  background: rgba(255, 255, 255, .9);
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  transform: translateY(-100%);
  transition: .5s
}
.nav-item ul li{
  padding: 1px 10px; 
  white-space: nowrap;
}
.nav-item:hover ul{
  top: 100%;
  transform: none;
}
.nav-iconwarp{
 padding-right: 66px;
}
.nav-iconwarp p{
  text-indent: -99999em;
}
.nav-icon{
  margin-left: 23px;
}
.nav-icon:focus i{
  color: #fff;
}
.nav-icon i{
  color: #4e4e4e;
}
.nav-icon i:hover{
  color: #84A27C;
}

/*----- main-slider ----*/
.slider-btn{
  position: relative;
  bottom: 28px;
  padding: 11.4px 27px;
  border: 1px solid #6F8459;
  background-color: #F5FBEE;
  font-size: 15px;
  font-weight: 600;
  color: #4e4e4e;
  text-decoration: none;
}
.slider-btn:hover{
  border-color: #6F8459;
  background-color: white;
  color: #6F8459;
}
.carousel-control-prev span,
.carousel-control-next span{
  width: 2.75rem;
  height: 2.75rem;
}
/*----- card-line ----*/
.card-wrap{
  padding: 110px 0;
}
.card-wrap li{
  position: relative;
  width: 288px; 
}
.card-wrap li .card-img{
  display: inline-block;
  height: 288px;
}
.card-wrap li img{
  position: absolute;
  width: 288px;
  height: 288px;
}
.card-wrap li a:hover img:last-child{
  opacity: 0;
}
.card-wrap li>div{
  text-align: center;
}
.card-title{
  margin-bottom: 2px;
  padding: 12px 0 7px 0;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.btn-first{
  padding: 1px 1px;
  font-size: 11px;
  font-weight: 600;
}
.card-wrap li h6{
  padding-bottom: 5px;
}
.card-wrap li p{
  margin-bottom: 3px;
  padding: 1px 0;
  border: none;
  font-size: 12px;
  color: #757575;
  line-height: 14px;
}
.card-wrap .card-effect{
  padding: 4px 0 2.75px;
  font-size: 13px;
  color: rgb(59, 86, 31);
}
.card-wrap .card-review{
  font-size: 12px;
  line-height: 17px;
}
.card-link{
  font-size: 11px;
  font-weight: 300;
  color: #4e4e4e;
  text-decoration: none;
}
.card-point{
  margin: 7.5px 0 8px;
  font-size: 16px;
  font-weight: bold;
}
.card-detail{
  display: inline-block;
  width: 120px;
  border: 1px solid #6F8459;
  border-radius: 2px;
  background-color: #F5FBEE;
  font-size: 14px;
  font-weight: 600;
  color: #4e4e4e;
  text-decoration: none;
  line-height: 35px;
}
.card-detail:hover{
  border-color: #6F8459;
  background-color: white;
  color: #6F8459;
}
.card-line{
  display: flex;
  padding: 80px 0;
  justify-content: center;
}
.card{
  margin: 0 15px;
  border: none;
  text-align: center;
}
.card-body{
  padding-bottom: 1px;
}
.card-body .price{
  line-height: 20px;
}

/*----- video ----*/
.youtube{
  width: 100%;
  height: 100%;
}
.bn-img{
  width: 100%;
}
.bn-img-wrap{
  margin-bottom: 110px;
}
.videolind{
  margin-bottom: 110px
}
.video{
  position: relative;
}
.videowrap{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}
.videowrap>h2{
  position: absolute;
  top: 39%;
  left: 50%;
  font-size: 50px;
  font-weight: 600;
  color: white;
  transform: translateX(-50%);
}
.videowrap>h5{
  position: absolute;
  top: 51%;
  left: 50%;
  font-weight: 600;
  color: white;
  transform: translateX(-50%);
}
.videowrap>p{
  position: absolute;
  top: 55%;
  left: 50%;
  font-weight: 600;
  color: white;
  transform: translateX(-50%);
}
.videowrap>a{
  position: absolute;
  top: 64%;
  left: 50%;
  padding: 11px 18px;
  border: 1px solid white;
  background-color: none;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transform: translateX(-50%);
}
.videowrap>a:hover{
  background-color: white;
  color: #4e4e4e;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/*----- wing -----*/
.wing-btnwrap{
  position: absolute;
  width: 100%;
}
.wing-btn{
  display: flex;
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 5;
  flex-direction: column;
}
.wing-btn a{
  margin-bottom: 10px;
  border-radius: 50%
  opacity: 90%;
}
.wing-btn a:hover{
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.25);
  opacity: 100%;
}

/*---- swiper 1 ---- */
.swiper{
  width: 100%;
  margin-bottom: 110px;
  padding-top: 11px;
  padding-bottom: 50px;
  background-color: antiquewhite;
  font-family: 'Bitter', serif;
}
.swiper-slide{
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.swiper-slide img{
  display: block;
  width: 100%;
  cursor: pointer;
}
.swiper>h3{
  margin: 17px 0 23px 1.5rem;
  font-size: 24px;
  text-align: left;
}

/*---- swiper 2----*/
.review{
  position: relative;
}
.review div:first-child{
  padding-bottom: 12px;
}
.Kategorie-Text{
  display: flex;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: baseline;
}
.Kategorie-mainText{
  font-family: 'Bitter', serif;
  font-size: 24px;
  font-weight: 400;
}
.Kategorie-moreText{
  position: absolute;
  top: 10px;
  right: 15px;
  color: #212529;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.swiper-slide{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  background: #fff;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.swiper-slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-two{
  background-color: #e6ffe1;
}
.promotion .swiper-button-prev::after, .promotion .swiper-button-next::after{
  color: yellow
}

/*----- event ----*/
.event{
  position: relative;
  padding-bottom: 140px;
}
.event p{
  padding-bottom: 20px;
}
.event-wrap{
  display: flex;
}
.event-list{
  width: calc(100% /3);
  padding-right: 4px;
}
.event-wrap div:last-child{
  padding-right: 0;
}

/*----- instagram ----*/
.instagram{
  position: relative;
  width: 100%;
  padding-bottom: 210px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  overflow: hidden;
}
.instagram p{
  padding-bottom: 20px;
}
.row>*{
  padding-right: 0;
  padding-left: 0;
}

/*----- footer ----*/
footer{
  padding: 1.75em 1.5em 1.5em 4em;
  background: rgb(233, 231, 231);
  font-size: 12px;
  font-weight: 500;
  color: rgb(80, 80, 80);
}
.footer-secondline{
  display: flex;
  padding-top: 1em;
  line-height: 20px;
  justify-content: space-between;
}
.footer-secondline a{
  color: rgb(80, 80, 80);
}
.footer-secondline a:hover{
  color: #4169e1;
}
.call{
  padding-right: 12%;
  color: #4e4e4e;
  text-align: center;
}
.callNumber{
  font-size: 22px;
  font-weight: bold;
}